<div class="flex gap-1">
  <% current_user.available_menu_items.each do |item| %>
    <%= link_to item[:label], determine_menu_path(id: item[:id]),
        class: "bg-#{item[:color]}-500 text-white px-3 py-2 rounded hover:bg-#{item[:color]}-600 transition" %>
  <% end %>
</div>