<div class="hidden">
  <h1 class="text-3xl font-bold text-red-600">Hello Tailwind 🚀</h1>
  <p class="mt-4 text-gray-700">Se vedi questo testo stilizzato, Tailwind è attivo!</p>

<div class="bg-blue-500 text-red p-4">bg-sky-500</div>

<div class="bg-red-500 text-red p-4">bg-sky-500</div>

<div class="bg-sky-500 text-red p-4">bg-sky-500</div>

<div class="bg-stone-500 text-white p-4">STONE 500</div>
<div class="bg-stone-900 text-white p-4">STONE 900</div>
<div class="bg-blue-500 text-white p-4">BLUE 500</div>


<div class="bg-slate-500 text-red p-4">bg-slate-500</div>
<div class="bg-gray-500 text-red p-4">bg-gray-500</div>
<div class="bg-zinc-500 text-red p-4">bg-zinc-500</div>
<div class="bg-neutral-500 text-red p-4">bg-neutral-500</div>
<div class="bg-stone-500 text-red p-4">bg-stone-500</div>
<div class="bg-red-500 text-red p-4">bg-red-500</div>
<div class="bg-orange-500 text-red p-4">bg-orange-500</div>
<div class="bg-amber-500 text-red p-4">bg-amber-500</div>
<div class="bg-yellow-500 text-red p-4">bg-yellow-500</div>
<div class="bg-lime-500 text-red p-4">bg-lime-500</div>
<div class="bg-green-500 text-red p-4">bg-green-500</div>
<div class="bg-emerald-500 text-red p-4">bg-emerald-500</div>
<div class="bg-teal-500 text-red p-4">bg-teal-500</div>
<div class="bg-cyan-500 text-red p-4">bg-cyan-500</div>
<div class="bg-sky-500 text-red p-4">bg-sky-500</div>
<div class="bg-blue-500 text-red p-4">bg-blue-500</div>
<div class="bg-indigo-500 text-red p-4">bg-indigo-500</div>
<div class="bg-violet-500 text-red p-4">bg-violet-500</div>
<div class="bg-purple-500 text-red p-4">bg-purple-500</div>
<div class="bg-fuchsia-500 text-red p-4">bg-fuchsia-500</div>
<div class="bg-pink-500 text-red p-4">bg-pink-500</div>
<div class="bg-rose-500 text-red p-4">bg-rose-500</div>



<div style="background-color: oklch(68.5% .169 237.323); color: red; padding: 1rem;">
  bg-sky-500
</div>

</div>
